<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
.addBank{
  position:absolute;
  margin-top:85%;
  margin-left:92%;
  z-index:100000;
}
.logo{
  height:10%;
  padding: 5px;
}
.logo img{
  height:100%;
}
.banksList{

}
.mapa{
  width:100%; 
  height:88%;
  float:left;
}
.banksList{
  list-style: none;
  text-align: right;
  position: absolute;
  margin-left: 100px;
  margin-top: 20px;
  z-index: 101;
  overflow: hidden;
  float: left;
}
.banksList div{
  float: left;
  background-color: #009c00;
  margin-bottom: 10px;
  color: #fff;
  padding: 0.5%;
  font-weight: bold;
  margin-right: 10px;
}
.banksList div a{
  text-decoration: none;
  color: #fff;
}
.clear{
  clear:both;
  }
#panel{
  position: absolute;
  z-index: 1000000;
  background-color: #fff;
  border: 2px solid #000;
  float: right;
  width: 300px;
  top:27%;
  right: 10px;
  display: none; 
  overflow: scroll;
  max-height: 380px;
}
#panel, tr,td{
  font-size: 12px;
  letter-spacing:1px;

}
.fechar{
  cursor: pointer;
  text-decoration: underline;
  float: right;
}
</style>

<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/jquery.corner.js" type="text/javascript"></script>

<link href="{{ STATIC_URL }}css/bootstrap/bootstrap-responsive.min.css" media="all" rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}css/bootstrap/bootstrap.min.css" media="all" rel="stylesheet" type="text/css" />

</head>
<body onLoad="initialize();">

<div class="addBank"><a id="addBank" data-toggle="modal" href=""><img src="{{ STATIC_URL }}img/plus.png" width="50px;"/></a></div>
<div class="logo">
  <img src="{{ STATIC_URL }}img/logo.png"/>
</div><div>
<div class="banksList">

    {% for bank in banks %}
        <div><a href="?bank={{ bank.pk }}">{{ bank.name }}</a></div>
    {% endfor %}

</div>
<div id="map_canvas" class="mapa"></div>

</div>
<div class="clear"></div>
<div id="panel">
  <div class="fechar">fechar (x)</div>
</div>


<!-- Modal -->
<div class="modal hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
  <h3 id="myModalLabel">Adicionar banco</h3>
</div>
<div class="modal-body">
  <p>
    <form class="form-horizontal" action="login" method="post">
      <div class="control-group">
                <label class="control-label" for="inputEmail">Banco:</label>
        <div class="controls">
          <select name="bank">
            <option>Selecion o banco:</option>
            {% for bank in banks %}
            <option value="{{ bank.pk }}">{{ bank.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button  class="btn " class="close" data-dismiss="modal" id="cancelAdd">Cancelar</button>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
      </div>
      <input type="hidden" name="lat" id="lat" value=""/>
      <input type="hidden" name="lng" id="lng" value=""/>
    </form>
  </p>
</div>
</div>

<script type="text/javascript">
$.fn.serializeObject = function()
{
   var o = {};
   var a = this.serializeArray();
   $.each(a, function() {
       if (o[this.name]) {
           if (!o[this.name].push) {
               o[this.name] = [o[this.name]];
           }
           o[this.name].push(this.value || '');
       } else {
           o[this.name] = this.value || '';
       }
   });
   return o;
};
</script>

<script type="text/javascript">
    $('#myModal').modal('hide');
</script>
</body>

<script type="text/javascript">
    $(function(){

      $('.fechar').click(function(){
        $('#panel').fadeOut('slow');
      });
      
      $('.banksList div').corner("10px");
      $('#panel').corner("10px");
    });
    var addReady = false;
    $("#addBank").click(function(){
        alert('Clique no mapa para marcar o ponto de banco!');
        addReady = true;
    })

    $("#cancelAdd").click(function(){
        addReady = false;
        markersArray[markerIndex].setMap(null);
    })


    $('form').submit(function() {
        var form = $('form').serializeObject();
        var data = JSON.stringify({
            'address': 'Avenida x',
            'location': {
                'coordinates': [parseFloat(form.lng), parseFloat(form.lat)],
                'type': 'Point',
            },
            'bank': {'pk': parseInt(form.bank)},
        });
        console.log(data);

        $.ajax({
          type: 'POST',
          url: '/api/v1/bank/',
          data: data,
          success: function(resp) {
              $('#myModal').modal('hide');
          },
          dataType: 'json',
          contentType: 'application/json',
          processData: false
        });


        return false;
    });

    var map;
    var initialLocation;

    map = new google.maps.Map(document.getElementById('map_canvas'), {
      zoom: 17,
      center: new google.maps.LatLng(-8.06307508950304, -34.87117409706116),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });


    function marcarOrigem(origem){

        var icone = new google.maps.MarkerImage("http://www.caiodounis.com/next/img/voce.png", null, null, null, new google.maps.Size(43,59));
        var marker = new google.maps.Marker({
            position: initialLocation,
            map: map,
            title:"Hello World!",
            icon: icone
        });
    }

    function initialize() {

        if(navigator.geolocation) {
            browserSupportFlag = true;
            navigator.geolocation.getCurrentPosition(function(position) {
                initialLocation = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
                map.setCenter(initialLocation);
                marcarOrigem(initialLocation);

                $.getJSON('/api/v1/bank/?point={"coordinates":[ ' + initialLocation.lng() + ',' + initialLocation.lat() + ']}&format=json&distance={"km": 2}{% if bank %}&bank={{ bank }}{% endif %}', function(data) {
                    var locations = [];
                    var banks = data.objects;
                    console.log(banks);
                    for(var i=0; i<banks.length; i++){
                        locations.push(["", banks[i].location.coordinates[1], banks[i].location.coordinates[0], "http://xtto.me/"+banks[i].bank.logo]);
                    }


                    var infowindow = new google.maps.InfoWindow();
                    var marker, i;
                    var browserSupportFlag =  new Boolean();
                    var markersArray = [];

                    google.maps.event.addListener(map, 'click', function(event) {

                      if(addReady) addMarker(event.latLng);
                    });


                    function addMarker(location) {
                        var marker;
                        marker = new google.maps.Marker({
                            position: location,
                            map: map
                        });

                        $('#lat').val(marker.getPosition().lat());
                        $('#lng').val(marker.getPosition().lng());
                        map.setCenter(location);
                        markersArray.push(marker);

                        $('#myModal').modal();
                    }

                    for (i = 0; i < locations.length; i++) {  
                        var icone = new google.maps.MarkerImage(locations[i][3], null, null, null, new google.maps.Size(43,59));

                        marker =  new google.maps.Marker({
                           position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                           map: map,
                           icon: icone
                        });

                        google.maps.event.addListener(marker, 'click', (function(marker, i) {
                           return function() {

                                tracarRota(initialLocation, locations[i][1]+", "+locations[i][2])
                               }
                        })(marker, i));
                    }

                    var directionsService = new google.maps.DirectionsService();
                    var directionsDisplay = new google.maps.DirectionsRenderer();

                    function tracarRota(p1,p2){
                      
                        directionsDisplay.suppressMarkers = true;
                        directionsDisplay.setMap(map);
                        directionsDisplay.setPanel(document.getElementById('panel'));
                        
                        var request = {
                            origin: p1, 
                            destination: p2,
                            travelMode: google.maps.DirectionsTravelMode.WALKING
                        };
                        
                        directionsService.route(request, function(response, status) {
                            if (status == google.maps.DirectionsStatus.OK) {
                                directionsDisplay.setDirections(response);
                            }
                        });
                        $('#panel').fadeIn('slow');
                    }
                });

            }, function() {
                handleNoGeolocation(browserSupportFlag);
            });

        }  else {
            browserSupportFlag = false;
            handleNoGeolocation(browserSupportFlag);
        }

        function handleNoGeolocation(errorFlag) {
            if (errorFlag == true) {
                alert("Geolocation service failed.");
                initialLocation = center;
            } else {
                alert("Your browser doesn't support geolocation. We've placed you in Siberia.");
                initialLocation = center;
            }
            map.setCenter(initialLocation);
        }

    }
</script>
</html>

